{{!-- Login panel --}}
<div class="row justify-content-center mt-4">
    <div class="col-md-6 mb-4">
        <div class="row justify-content-center px-md-3">
            <h2 class="page-header text-center dark-grn py-1 col-11 col-sm-10">Login:</h2>
            <div class="card form-card p-3 col-10 col-sm-9">
                <form class="form login-form">
                    <div class="form-group mt-3">
                        <label for="email-login">Email:</label>
                        <input class="form-input w-100" type="text" id="email-login" required/>
                    </div>
                    <div class="form-group mt-3">
                        <label for="password-login">Password:</label>
                        <input class="form-input w-100" type="password" id="password-login" required/>
                    </div>
                    <div class="form-group mt-3">
                        <button class="btn btn-dark-grn" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   {{!-- Signup Panel --}}
    <div class="col-md-6 mb-4">
        <div class="row justify-content-center">
            <h2 class="page-header text-center dark-grn py-1 col-11 col-sm-10">Join Our Growing Community:</h2>
            <div class="card form-card p-3 col-10 col-sm-9">
                <form class="form signup-form">
                    <div class="form-group">
                        <label for="name-signup">Name:</label>
                        <input class="form-input w-100" type="text" id="name-signup" required/>
                    </div>
                    <div class="form-group mt-3">
                        <label for="email-signup">Email:</label>
                        <input class="form-input w-100" type="text" id="email-signup" required/>
                    </div>
                    <div class="form-group mt-3">
                        <label for="password-signup">Password:</label>
                        <input class="form-input w-100" type="password" id="password-signup" required/>
                    </div>
                    <div class="form-group mt-3">
                        <button class="btn btn-dark-grn" type="submit">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  
<script src="./js/login.js"></script>