:root {
    --dark-grn: rgb(20, 33, 20);
    --light-grn: rgb(166, 216, 166);
}

body {
    background-image: url('../img/assets/bg-img.webp');
    background-color: aliceblue;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    padding-right: 0;
    padding-left: 0;
}

.dark-grn {
    background-color: var(--dark-grn);
}

.light-grn {
    background-color: var(--light-grn);
}

.nav-link {
    color: var(--light-grn);
    font-weight: bold;
}

.plant-card {
    border-color: var(--dark-grn);
    border-width: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0%;
}

.plant-card-classification {
    background-color: var(--dark-grn);
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}

.plant-card-header {
    text-shadow: 2px 2px var(--dark-grn);
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Chango', cursive;
}

.plant-card-header:hover {
    color: var(--dark-grn);
    text-shadow: 2px 2px var(--light-grn);
}

.plant-card-user {
    background-color: whitesmoke;
    text-align: center;
    font-style: italic;
}

#plant-title-btn {
    border-style: none;
}

#plant-title-btn:focus {
    outline: none;
}

#profile-card {
    width: 25rem;
}

#title {
    font-size: 2rem;
    font-weight: 700;
    /* margin-right: 0px; */
    text-shadow: 2px 2px var(--light-grn);
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Chango', cursive;
}

@media screen and (max-width: 500px) {
    #nav-container {
        justify-content: center;
    }
}